<h2><%= pluralize(@songs.count, 'song') + " in #{@album.title}" %></h2>
<ul>
  <% @songs.each do |song| %>
  <li><%= link_to song.title, album_song_path(@album, song) %></li>
  <% end %>
</ul>

<%= link_to "New Song in #{@album.title}" , new_album_song_path(@album) %>
