<h2><%= pluralize(@songs.count, 'song')  %></h2>
<ul>
  <% @songs.each do |song| %>
  <li><%= link_to song.title, send("#{@parent_resource}_song_path",@parent, song) %></li>
  <% end %>
</ul>

<%= link_to "New Song" , send("new_#{@parent_resource}_song_path",@parent) %>
